# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db
